.cat-list-component {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;

    .table-container {
        width: 80%;
        height: fit-content;
        min-width: 22rem;
        max-height: 90%;
        background-color: #ececec;
        border-radius: 1.2rem;
        border: 1px solid lightgray;

        .cat-list-table {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: start;

            .first-col {
                border-right: 1px solid lightgray;
            }

            .table-head {
                display: flex;
                width: 100%;
                height: 100%;
                border-bottom: 1px solid lightgray;

                .table-cell {
                    width: 50%;
                    padding: 0.8rem;
                }
            }

            .table-body {
                width: 100%;
                height: fit-content;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;

                .table-row {
                    width: 100%;
                    height: fit-content;
                    display: flex;
                    border-bottom: 1px solid lightgray;
                    cursor: pointer;

                    .table-cell {
                        width: 50%;
                        padding: 0.8rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    
                    &:hover {
                        background-color: white;
                    }
                }
            }
        }
    }
}